
* {
  margin: 0;
  padding: 0;
}

body {
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', sans-serif;
}

span, small, em, li{
  font-family: 'Maven Pro', sans-serif;
  font-size: 1em;
  line-height: 1.3em;
}

a {
  text-decoration: none;
}

i {
    font-style: normal;
}

header {
    display: grid;
}

.top-nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  height: 2em;
}

.top-nav ul {
  display: flex;
}

.top-nav ul li {
  float: left;
  list-style: none;
  position: relative;
 }

.top-nav ul li a {
  display: block;
  color: #aaa;
  line-height: 2em;
  font-weight: 500;
  vertical-align: baseline;
  font-size: 0.813em;
  text-decoration: none;
  padding: 0 0.8em;
}

.top-nav ul li a:hover {
  color: #fff;
}

.top-nav ul li ul {
  position: absolute;
  display: none;
  background-color: black;
  padding: 0;
  margin-top: 0.65em;
}

.top-nav ul li:hover ul {
  display: block;
}

.top-nav ul li ul li {
  width: 12.5em;
  margin: 0.65em 0;
  border-bottom: 0.063em solid #aaa;
}

.top-nav ul li ul li a:hover {
  color: #fff;
}

.main-menu {
  width: 100%;
  height: 3em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.main-menu ul li {
  float: left;
  list-style: none;
  display: inline-block;
}

.main-menu ul li a {
  text-decoration: none;
  padding: 0 0.75em;
  text-transform: uppercase;
  color: #aaa;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 3em;
}

.main-menu ul li a:hover {
  color: #000;
}

.banner {
  max-height: 35em;
  margin: 0.313em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 30em 30em;
}

.hero-logo {
    display: flex;
    justify-content: space-between;
    margin: 0.938em;
}

.image-logo {
    width: 27.938em;
}

.hero-logo p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.313em;
  color: #fff;
}

.cat-title {
  margin: 0.938em;
  position: relative;
  top: 8.750em;
}

.cat-title p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.313em;
  color: #fff;
  margin: 0.625em 0;
}

.cat-title h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 3.500em;
  color: #fff;
}

.authored-by {
    display: inline-flex;;
}

.authored-by li {
    list-style: none;
    padding-right: 1em;
}

.authored-by li a {
    color: #fff;
}

.article-one {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../images/image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.article-two {
  background-image: url('../images/image-2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.article-three {
  background-image: url('../images/image-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.latest-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inner-article {
  width: 23%;
}

.inner-article img {
    width: 16.875em;
    height: 8.438em;
}

.fund-title {
  float: left;
}

.fund-navigation {
  float: right;
}

.title-funding::after {
  content: '';
  display: block;
  clear: both;
}

.fund-navigation ul li {
  display: inline-block;
}

.project-image {
  width: 3.75em;
  height: 3.75em;
}

.project-thumbnail {
    width: 6em;
}

.project-image.one {
  width: 100%;
  height: 17.250em;
  background-image: url('../images/latest-1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.project-image.two {
  width: 100%;
  height: 17.250em;
  background-image: url('../images/latest-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.project-image.three {
  width: 100%;
  height: 17.250em;
  background-image: url('../images/latest-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.project-image.four {
  width: 100%;
  height: 17.250em;
  background-image: url('../images/latest-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.project-image.five {
  width: 100%;
  height: 17.250em;
  background-image: url('../images/latest-5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.project-image.six {
  width: 100%;
  height: 17.250em;
  background-image: url('../images/latest-6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.project-image.seven {
  width: 100%;
  height: 17.250em;
  background-image: url('../images/latest-7.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.project-image.eight {
  width: 100%;
  height: 17.250em;
  background-image: url('../images/latest-8.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects > div {
  width: 23%;
}

.article-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category {
  width: 30%;
}
.latest-deals {
	width: 90%;
	margin:auto;
}

.deals-title {
width: 100%;
height: 2.5em;
margin:1.5em 0;
}

.deals-title p #title {
	font-size: 1.5em;
	color: #f42;
	text-decoration: none;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 700px;

}

.deals-title p #more-deals {
	font-size: 0.75em;
	color: #f42;
	text-decoration: none;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300px;
    float: right;

}
.deal-title:after {
    clear: both;
    content: "";
    display: block;
}

.inner-deal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article-deal {
  width: 24%;
  }

.article-deal img {
  width: 16.875em;
  height: 12.563em;
}

.article-deal p span{
margin-left: 0.6em;
}

.article-deal p small{
	font-size: 0.63em;
}

.article-deal h3 a {
	line-height: 1em;
	font-size:0.75em;
	color: #000;
}

.article-deal h3 a:hover{
	color: #f42;
	text-decoration: underline;
}

footer {
  text-align: center;
}

.top-footer {
  width: 100%;
  height: 160px;
  background-color: #131313;
}

#social-media ul {
  height: 2.813em;
  display: inline;
  list-style: none;
  vertical-align: baseline;
}

#social-media ul li {
  display: inline-block;

}

#social-media ul li {
  font-size: 1.25em;
  display: inline-block;
  cursor: pointer;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 50%;
  background: #333;
  border-radius: 0.063em solid #777;
  margin: 1.5em 0.625em 1.5em 0;
}

#social-media ul li a {
  text-decoration: none;
  color: #fff;
}

#social-media ul li a i {
  padding-top: 0.625em;
}

#social-media ul li:hover {
  background-color: #131313;

}

#menu-links ul {
  width: 100%;
  height: 1.5em;
  display: inline;
  list-style: none;
}

#menu-links ul li {
  padding-right: 0.625em;
  display: inline-block;
}

#menu-links ul li a {
  text-decoration: none;
  font-size: 0.75em;
  line-height: 1.5em;
  color:#aaa;
}

#menu-links ul li a:hover {
  color:#fff;
}

.bottom-footer {
  height: 6.0625em;
  width: 100%;
  background-color: #000;
}

.bottom-footer p {
  line-height: 1.25em;
  font-size: 0.8125em;
  color: #aaa;
}

.bottom-footer p i {
  color: red;
  font-size: 0.5em;
}
